.LandingPage {
  height: 92vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(../../assets/images/LandingPageImage.jpg);
  background-size: cover;
  background-position: center;
}

.Content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
}

.Content h1 {
  font-size: 130%;
  text-transform: uppercase;
}

.Content p {
  width: 80%;
  font-size: 75%;
  color: #26de81;
  margin: 0 auto;
}

/* desktop */
@media (min-width: 800px) {
  .LandingPage {
    height: 92vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/LandingPageImage.jpg);
  }

  .Content {
    position: absolute;
    top: 40%;
    left: 50%;
  }

  .Content h1 {
    font-size: 225%;
  }

  .Content p {
    font-size: 115%;
  }
}
