.HomePage {
  color: #d0d0d0;
  text-align: center;
}

.Jumbotron {
  padding-top: 30px;
  height: 230px;
  /* height: 350px; */
  background-image: url(../../assets/images/JumbotronBackground.jpg);
  background-size: cover;
  background-position: center;
}

.Jumbotron h1 {
  font-size: 50px;
  color: #d0d0d0;
  margin-top: -30px;
}

.Jumbotron h2 {
  font-size: 25px;
  /* color: #cf915f; */
margin-top: -15px;
}
