.NavItems {
  display: flex;
  list-style: none;
}

/* mobile */
@media (max-width: 799px) {
  .NavItems {
    flex-direction: column;
    margin-top: 15px;
  }
}

/* desktop */
@media (min-width: 800px) {
  .NavItems {
    justify-content: center; 
  }
}
