.DrawerToggle {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 75%;
  align-items: center;
  justify-content: space-evenly;
  margin: auto 0;
}

.DrawerToggle div {
  width: 60%;
  height: 2px;
  background-color: #26de81;
}

/* landscape mode */
@media (min-width: 650px) {
  .DrawerToggle {
    width: 10%;
  }
}

/* desktop */
@media screen and (min-width: 800px) {
  .DrawerToggle {
    display: none;
  }
}
