/* mobile view */
.SideDrawer {
  display: flex;
  position: fixed;
  width: 190px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.4s ease-out;
}

.Show {
  transform: translateX(0);
}

.Hide {
  transform: translateX(-100%);
}

/* landscape mode */
@media (min-width: 650px) {
  .SideDrawer {
    display: flex;
    position: fixed;
    width: 190px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: black;
    transition: transform 0.4s ease-out;
    padding: 20px;
  }
}

/* desktop view */
@media (min-width: 800px) {
  .SideDrawer {
    display: none;
  }
}
