.ProjectDemos {
  display: flex;
  color: #e9e9e9;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.Title {
  color: #e9e9e9;
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.Demo h3 {
  margin-bottom: 35px;
}

.Demo {
  width: 26%;
  text-align: center;
  border-bottom: 2px solid rgb(10, 10, 10);
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 25px;
}

.Demo iframe {
  width: 100%;
}

.Demo p {
  text-align: left;
}

.Demo:hover {
  border-bottom: 2px solid #56e133;
}
