.Blogs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Blogs img {
  width: auto;
}

.PageDetails {
  display: flex;
  flex-direction: column;
  border: 1px solid #26de81;
  width: 70%;
  padding: 25px;
  align-self: center;
  margin-bottom: 3%;
}

.PageDetails p {
  font-size: 80%;
}

.PageDetails span a {
  text-decoration: none;
  color: #26de81;
}

.PageDetails span a:hover {
  color: #5db98b;
}

.BlogsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Title {
  color: #26de81;
  font-size: 200%;
  margin-top: 4%;
  margin-bottom: 2%;
}

/* mobile */
@media (max-width: 799px) {
  .BlogsContainer {
    flex-direction: column;
  }

  .Title {
    font-size: 125%;
    margin-top: 5%;
  }

  .PageDetails {
    display: none;
  }
}
