.Contact {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.Contact h1 {
  margin-top: 7%;
  color: #26de81;
}

.MainContainer {
  display: flex;
  justify-content: center;
}

.MainContainer hr {
  margin-top: 5%;
  border-color: #26de81;
  margin-left: 5%;
}

.SubContainer {
  margin-top: 5%;
  background-color: rgb(24, 24, 24);
  width: 35%;
  margin-left: 3%;
  height: 550px;
}

.SubContainer h1 {
  font-size: 125%;
}

.Contact input, textarea{
  width: 80%;
  padding: 5%;
  outline: none;
  font-size: 100%;
  background-color: rgb(15, 15, 15);
  border: none;
  margin-top: 3%;
  align-self: center;
  color: #fff;
  transition: background-color 0.2s;
}

.Contact form {
  display: flex;
  flex-direction: column;
}

.Contact input:focus, textarea:focus {
  background-color: rgb(32, 32, 32);
}

.Contact input:hover, textarea:hover {
  background-color: rgb(32, 32, 32);
}

.Contact button {
  background-color: #26de81;
  color: #fff;
  border: none;
  padding: 3%;
  width: 25%;
  align-self: center;
  margin: 3% 0;
  transition: background-color 0.2s;
}

.Contact button:hover {
  background-color: #70e9ac;
  color: #fff;
  cursor: pointer;
}

.Contact button:disabled {
  cursor: not-allowed;
  background-color: #2c2c2c;
  color: rgb(146, 146, 146);
}

.Contact textarea {
 height: 200px;
 resize: none;
}

.Contact input {
 height: 30px;
}

.Linkedin {
  height: 50px;
  width: 50px;
  color: #26de81;
  transition: color 0.2s;
}

.Linkedin:hover, .Github:hover {
  color: #70e9ac;
}

.Github {
  height: 50px;
  width: 50px;
  margin-left: 5%;
  color: #26de81;
  transition: color 0.2s;
}

.Info {
  display: flex;
  flex-flow: column;
  width: 40%;
  padding: 0 5%;
  line-height: 145%;
  margin-top: 3%;
}

.Info h3 {
  margin-top: 7%;
  margin-bottom: 7%;
  font-size: 125%;
  text-align: center;
}

.Info p {
  font-size: 95%;
  text-align: left;
}

.Icons {
  margin-top: 50%;
}

@media (max-width: 799px) {
  .Contact h1 {
    margin-top: 4%;
    font-size: 125%;
  }

  .MainContainer {
    display: flex;
    flex-flow: column;
    margin-top: 5%;
  }

  .SubContainer {
    background-color: rgb(24, 24, 24);
    width: 80%;
    margin: 0 auto;
    height: 100%;
  }
  
  .SubContainer h1 {
    font-size: 100%;
  }

  .Contact input, textarea{
    width: 85%;
    font-size: 75%;
  }

  .Contact textarea {
   height: 150px;
  }

  .Info {
    display: flex;
    flex-flow: column;
    width: 85%;
    line-height: 120%;
    margin: 5px auto;
  }
  
  .Info h3 {
    font-size: 100%;
    color: #26de81;
  }
  
  .Info p {
    font-size: 60%;
  }

  .Icons {
    margin-top: 15%;
  }

  .Linkedin, .Github {
    height: 35px;
    width: 35px;
  }
}
