.ErrorPage {
  text-align: center;
  margin-top: 23%;
}

.ErrorPage h1 {
  font-size: 250%;
}

.ErrorPage p {
  color:#26de81;
  text-align: center;
  font-size: 125%;
}

.Container {
  display: flex;
  justify-content: center;
}
