.AboutMe {
  text-align: center;
  color:#e9e9e9;
}

.Title {
  color: #e9e9e9;
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.Container {
  display:flex;
  justify-content: center;
}

.AboutMe img {
  height: 275px;
  width: 215px;
  margin-top: 7px;
}

.AboutMe hr {
  width: 1000px;
  border-color: #56e133;
}

.ImageDiv {
  /* border-right: 1px solid #56e133; */
  /* border-top: 1px solid #56e133; */
  height: 500px;
  width: 225px;
  margin-top: 25px;
}

.BioDiv {
  margin-top: 10px;
  margin-left: 40px;
  width: 35%;
  font-size: 20px;
  font-weight: 400;
}

.AboutMe p {
  text-align: initial;
}
