.Title {
  color: #26de81;
  font-size: 200%;
  margin-top: 7%;
  margin-bottom: 5%;
  text-align: center;
}

.Container {
  display:flex;
  justify-content: center;
  padding-left: 15%;
}

.AboutMe img {
  height: 275px;
  /* width: 215px; */
  width: auto;
}

.Divider {
  height: 615px;
  width: 1%;
  border-right: 1px solid #26de81;
}

.ImageDiv {
  margin-right: 3%;
}

.BioDiv {
  margin-top: -0.5%;
  margin-left: 5%;
  width: 38%;
  font-size: 95%;
  line-height: 150%;
}
