.Title {
  color: #26de81;
  font-size: 125%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.Container {
  display: flex;
  width: 95%;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}

.Divider {
  width: 5%;
  border-right: 1px solid #26de81;
}

.ImageDiv {
  margin-right: 3%;
}

.ImageDiv img {
  width: auto;
  height: 150px;
}

.BioDiv, .BioDivCont {
  font-size: 55%;
  line-height: 150%;
}

.BioDiv {
  margin-left: 5%;
}

.BioDivCont {
  margin-top: 5px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

/* desktop */
@media (min-width: 800px) {
  .Title {
    font-size: 200%;
    margin-top: 4%;
    margin-bottom: 5%;
  }

  .Container {
    display:flex;
    justify-content: center;
    padding-left: 15%;
  }

  .Divider {
    height: 615px;
    width: 1%;
    border-right: 1px solid #26de81;
  }

  .ImageDiv {
    margin-right: 3%;
  }

  .BioDiv {
    margin-top: -0.5%;
    margin-left: 5%;
    width: 38%;
    font-size: 95%;
    line-height: 150%;
  }

  .AboutMe img {
    height: 275px;
    width: auto;
  }
}