.NavItem {
  /* margin: 10px 30px;
  font-size: 100%; */
}

.NavItem a {
  color: #fff;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  width: 100%;
  padding-bottom: 2%;
  transition: border-bottom 0.2s;
}

.NavItem a:hover, .NavItem a:active,
.NavItem a.active {
  border-bottom: 1px solid #26de81;
}

/* desktop */
@media (min-width: 800px) {
  .NavItem {
    margin: 10px 30px;
    font-size: 105%;
  }
}
